<a class="btn text-white"
   asp-action="List"
   asp-controller="Product">
    Promocje
</a>

<a class="btn text-white"
   asp-action="List"
   asp-controller="Product">
    Moje Orgella
</a>

<a class="btn text-white"
   asp-action="List"
   asp-controller="Product">
    Kontakt
</a>

<a class="btn text-white"
   asp-action="List"
   asp-controller="Admin">
    Zaloguj
</a>

