@model IEnumerable<PartyInvites.Models.GuestResponse>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="widht = device-width" />
    <title>Odpowiedzi</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="panel-body">

    <h2>Oto lista gości na przyjęciu</h2>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <th>Imię i Nazwisko</th>
                <th>Adres e-mail</th>
                <th>Numer telefonu</th>
            </thead>
        <tbody>
            @foreach(PartyInvites.Models.GuestResponse r in Model)
            {
                <tr>
                    <td>@r.Name</td>
                    <td>@r.Email</td>
                    <td>@r.Phone <br/></td>
                </tr>
            
            }
        </tbody>
        </table>
        <a asp-action="RsvpForm">Wyślij kolejne RSVP</a>
    </div>
</body>
</html>

