
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Przyjęcie sylwestrowe</title>
</head>
<body>
    <div class="text-center">
        
        <h2>Zapraszam na wspaniałe przyjęcie.</h2>
        <h3>Ty też jesteś zaproszony</h3>
        <a class="btn btn-primary"  asp-action="RsvpForm">Wyślij RSVP</a>
    </div>
</body>
</html>



