
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width = device-width" />
    <title>Przywitanie</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <h2>Zapraszamy na wspaniałe przyjęcie</h2>
        <h3>Ty też jesteś zaproszony</h3>
        <a class="btn btn-primary" asp-action="RsvpForm">RSVP</a>
    </div>
</body>
</html>


