@{ Layout = "_Layout";}

<div id="container">
    <h2>Parafia Niepokalanego Poczęcia Najświędszej Maryi Panny w Chrząstowicach</h2>
    <p>
        rzymskokatolicka parafia położona przy ulicy Szkolnej 3 w Chrząstowicach.
        Parafia należy do dekanatu Ozimek w diecezji opolskiej.
    </p>
    <h2>Historia parafii</h2>
    <p>
        W latach 1896-1897 został wybudowany neogotycki kościół dla mieszkańców Chrząstowic oraz Lędzin i Suchego Boru.
        W 1911 roku mianowano osobnego duszpasterza dla Chrząstowic. Parafia została erygowana 25 listopada 1920 roku.
        Następnie Lędziny i Suchy Bór zostały przydzielone do parafii św. Krzyża w Opolu. 
        Obecnie Suchy Bór tworzy odrębną parafię, a Lędziny, mimo wybudowania kościoła, tworzą z Chrząstowicami
        wspólną parafię.
        Proboszczem parafii jest ksiądz Dominik Rybol
    </p>
</div>




<div id="footer" class="bg-primary m-1 p-1 text-white text-center"><h4>Witaj na stronie głównej</h4></div>