<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Orgella</title>
    <link rel="stylesheet" asp-href-include="lib/twitter-bootstrap/css/**/*.css"/>
</head>
<body>
    <div class="navbar navbar-brand bg-orange text-white col-12">Orgella</div>
    <div class="col-3">
        miejsce na navigacje
    </div>
    <div class="col-9">
        @RenderBody()
    </div>
</body>
</html>
