<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Orgella</title>
    <link rel="stylesheet" asp-href-include="lib/twitter-bootstrap/css/**/*.css" />
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/MyStyleSheet.css" />
</head>
<body>
    <div class="navbar bg-orange"  role="navigation">
        <a class="navbar-brand text-white" href="#"><h2>Orgella</h2></a>
        <div id="Navigation">
            @await Component.InvokeAsync("Navigation")
        </div>
        <form method="get" asp-action="Search" class="form-group"> 

            <input name="word"  id="word" class="floated" style="margin-top:5px" />
            <button class="btn text-white floated " type="submit" asp-action="Search" >Szukaj</button>
           
        </form>
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            @await Component.InvokeAsync("NavigationMenu")
        </div>
        <div class="col-9">
        @RenderBody()
        </div>
    </div>
    
</body>
</html>
