<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/twitter-bootstrap/css/bootstrap.css" />
    <script src="~/jquery/jquery.js"></script>
    <script src="~/client.js"></script>
</head>
<body class="m-1 p-1">
    @RenderBody()
</body>
</html>
