<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
    @RenderSection("scripts",false)
</head>
<body class="m-1 p-1">
    
        @RenderBody()
    
</body>
</html>
