@{ 
    Layout = null; 
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width = device-width" />
        <title>Przyjęcie Sylwestrowe</title>
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
    </head>
    <body class="p-2">
        <div class="text-center">
            <h3>Zapraszamy na wspaniałe przyjęcie!</h3>
            <h4>Ty też zostałeś zaproszony</h4>
            <a class="btn btn-primary" asp-action="RsvpForm">Wyślij RSVP</a>
        </div>
    </body>
</html>