@model PartyInvitesCode.Models.GuestResponse
@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Dziękujemy</title>
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
    </head>
    <body class="text-center">
        <h1>Dziękujemy, @Model.Name!</h1>
        @if(Model.WillAttend == true)
        {
            @:Cieszymy się, że przyjdziesz do nas. Napoje są już w lodówce!
        }
        else
        {
            @:Przykro nam, że nie możesz się zjawić, ale dziękujemy za informację.
        }
        <p>Kliknij<a asp-action="ListResponse">Tutaj</a>, aby wyświetlić listę gośći.</p>
    </body>
</html>